@using HBA.Data.Model
@model IEnumerable<PropertyViewModel>

@{
    ViewData["Title"] = "Property";
    var IsBroker = User.IsInRole("Broker");
}

<h2>Property</h2>

@if (IsBroker)
{
    <p>
        <a href="/Property/Create" class="btn btn-primary">Add New Property</a>
    </p>

}
<div class="form-inline">
    <label>Min Price:</label>
    @Html.TextBox("minPrice", null, new { type = "number", @class = "form-control d-inline-block", placeholder = "Min Price", style = "width:120px;" })

    <label>Max Price:</label>
    @Html.TextBox("maxPrice", null, new { type = "number", @class = "form-control d-inline-block", placeholder = "Max Price", style = "width:120px;" })

    <label class="ml-4">Property Type:</label>
    @Html.DropDownList("propertyTypeIdFilter", ViewBag.PropertyTypes as IEnumerable<SelectListItem>, "All Types", new { @class = "form-control d-inline-block", style = "width:200px;" })

    <button type="button" id="filterBtn" class="btn btn-primary ml-3">Filter</button>
</div>
<div id="propertyListContainer">
    @await Html.PartialAsync("_PropertyList", Model)
</div>


@section Scripts {

    <script>
        $(document).ready(function(){

            $('.deleteProperty').click(function(){
            var propertyId = $(this).attr('propertyId');

                    $.ajax({
                        url: '/Property/Delete',
                        type: 'POST',
                        data: {
                            id: propertyId,
                        },
                        dataType: 'json', 
                        success: function(response) {
                            if (response.success) {
                                location.reload(); // redirect
                            } else {
                                alert("Error: " + response.error);
                            }
                        },
                        error: function(error) {
                            console.error(error);
                        }
                    });
            });

            $('#filterBtn').click(function () {
                var minPrice = $('#minPrice').val();
                var maxPrice = $('#maxPrice').val();
                var propertyTypeId = $('#propertyTypeIdFilter').val();

                $.ajax({
                    url: '/property/filteredproperties',
                    type: 'GET',
                    data: {
                        minPrice: minPrice,
                        maxPrice: maxPrice,
                        propertyTypeId: propertyTypeId
                    },
                    success: function (result) {
                        $('#propertyListContainer').html(result); // replace table with filtered data
                    },
                    error: function () {
                        alert('Error loading filtered properties.');
                    }
                });
            });

        });
    </script>

}
